
<%- include('header'); -%>
<div class="box" id="heading">
<h1> <%= listTitle %></h1></div>
<div class="box">


<% newListItems.forEach(function(items){ %>
    <form action="/delete" method="post">
      <div class="item">
      <input type="checkbox" name="checkbox" value="<%= items.id %>" onChange = this.form.submit() >
      <p><%= items.name %></p>
      </div>
   </form>
    <% }); %>

<div class="box">
  <form class="item" action="/" method="post">
  <input type="text" name="newItem" placeholder="New item" autocomplete="off">
  <button type="submit" name="list">+</button>
  </form>
</div>
</div>


<%- include('footer'); -%>
